    main{
    position: relative;
    width: 1440px;
    height: 1024px;

    /* Light blue/light-blue-100 */

    background: #F3F5FC;
}

.logo{
    position: absolute;
    left: 5.67%;
    right: 0%;
    top: 10%;
    bottom: 0%;
}

.start{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 317px;
    height: 114px;
    left: 561px;
    top: 402px;

    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;   
}

.add{
    box-sizing: border-box;
 
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 45px;
    gap: 8px;


    
    position: absolute;
    width: 280px;
    height: 67px;
    left: 600px;
    top: 650px;
    
    /* Dark blue/dark-blue-300 */
    
    border: 1px solid #0A3871;
    border-radius: 24px;
}

.new-game{
    position: absolute;
    width: 200px;
    height: 67px;
    left: 350px;
    top: 900px;

    background: #0A3871;
    border-radius: 24px;
}

.imagenAhorcado{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;

    background: #cccfdb;
}

.leave{
    position: absolute;
    width: 200px;
    height: 67px;
    left: 750px;
    top: 900px;
    border-radius: 24px;
    }

.invisible{
        display:none;
}