    main{
    position: relative;
    width: 1440px;
    height: 1024px;

    /* Light blue/light-blue-100 */

    background: #F3F5FC;
}

.logo{
    position: absolute;
    left: 5.67%;
    right: 0%;
    top: 10%;
    bottom: 0%;

}